################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AuctionWebsite/bin/Debug
/AuctionWebsite/obj/Debug
